.classpath
.settings
bin
/cleartk-ruta/.buildpath
/cleartk-ruta/annotated-docs/
/cleartk-ruta/qa-sentences/
/cleartk-ruta/scenarios/
/cleartk-ruta/descriptor/uima/
/cleartk-ruta/target/
/cleartk-ruta/resources/lemmas/
/cleartk-ruta/src/main/java/org/
/cleartk-ruta/src/main/java/uima/
/cleartk-ruta/descriptor/
/modeling/edu.exa.unicen.qascenario.edit/target/
/modeling/edu.exa.unicen.qascenario.editor/target/
/modeling/edu.exa.unicen.qascenario.ui/target/
/modeling/edu.exa.unicen.qascenario/target/

